<!DOCTYPE html>
<title>App Engine World Country</title>
<center><h1> AppEngine World Country</h1></center>
<body>
    <table>
        {% if results %}
            {% for result in results %}
                <tr>
                    <th> {{ result.name }}</th>
                    <td> {{ result.country }} </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</body>

<BR><BR>
<form action="/" method="post">
    <p>
        Please sign:
        <input name="comment">
        <br>
    </p>
    <p><input type="submit" value="Submit"></p>
</form>